@font-face {
	font-family: head;
	src: url(fonts/head.otf);
}
@font-face {
	font-family: moon;
	src: url(fonts/moonl.otf);
}
@font-face {
	font-family: second;
	src: url(fonts/second.ttf);
}
@font-face {
    font-family: new;
    src: url(fonts/new.TTF);
}
body {
	padding: 0px;
	margin: 0px;
	background-image: url("images/two.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.banner{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
	z-index: 10;
	margin-top: 0%;
}
.social_media{
			/*z-index: 20;*/
			height: 50px;
			width: 50px;
			border: 1px solid white;
			margin-left: 1225px;
			margin-top: 3px;
			border-radius: 12px;
			
			background: url("images/social_media.png");
			background-size: contain;
			background-color: rgba(253, 182, 191, 0.15);
			margin-right: 4.5%;
			  margin-top: -174px;
}
.social_media:hover{
	

				transition: 5s cubic-bezier(0,1.5,0.5,1);
				transform: rotate(360deg);
				/*margin-right: 4.5%;
			  	margin-top: -150px;*/

}
article {
	padding-left : 50px;
	padding-right: 50px; 
}
.tile{
	  width: 33%;
	  float: left;
	  font-family: head;
	  font-size: 20px;
	  text-align: center;
	  text-decoration: none;
	  color: black;
	  border: 1px solid rgba(255, 255, 255, 0.31);
}
.tile:hover {
	    color:white;
	    letter-spacing:2px;
}
.my_nav {
	display:none;
	width:100%;
	height:50px;
	text-align: center;
	padding-bottom: 50px;
}
.my_nav a {
	width: 1000px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	font-family: head;
	font-size: 30px;
	border-right: 1px solid black;
	text-shadow : 2px 2px 4px #888;
	
}
.my_nav a:hover {
	background-color: grey;
	cursor: pointer;
}
.nav_attractions {
	color: rgb(224, 178, 255);
}
.nav_restaurants_and_cafe {
	color:rgb(253, 182, 191);
}
.nav_emergency {
	color: rgb(181, 207, 251);
}
.nav_it {
	color :rgb(177, 254, 186);
}
.nav_malls_and_supermarkets {
	color : rgb(253, 255, 161);
}

.nav_theaters{
	color : rgb(224, 178, 255);
}
.nav_fitness{
	color : rgb(253, 182, 191);
} 
.nav_banks_and_atm{
	color : rgb(181, 207, 251);
}
.nav_petrol_bunks_and_mechanics {
	color : rgb(177, 254, 186);
}
.desc {
	display: none; 
}
 #tile1 {
	background:linear-gradient(rgba(224, 178, 255, 0.5),rgba(0, 0, 0, 0.26),rgba(224, 178, 255, 0.5));
	border-top-left-radius: 20px;
}
 #tile2 {
	background:linear-gradient(rgba(253, 182, 191, 0.5),rgba(0, 0, 0, 0.26));
}
#emergency, #tile3  {
	background:linear-gradient(rgba(181, 207, 251, 0.5),rgba(0, 0, 0, 0.26),rgba(181, 207, 251, 0.5));
	border-top-right-radius: 20px;
}
#it, #tile4 {
	background:linear-gradient(rgba(177, 254, 186, 0.5),rgba(0, 0, 0, 0.26),rgba(177, 254, 186, 0.5));
}
#malls_and_supermarkets, #tile5 {
	background:linear-gradient(rgba(253, 255, 161, 0.5),rgba(0, 0, 0, 0.26),rgba(253, 255, 161, 0.5));
}
#theaters, #tile6{
	background-color:linear-gradient(rgba(224, 178, 255, 0.5),rgba(0, 0, 0, 0.26),rgba(224, 178, 255, 0.5));
}
#fitness, #tile7 {
	background:linear-gradient(rgba(253, 182, 191, 0.5),rgba(0, 0, 0, 0.26),rgba(253, 182, 191, 0.5));
	border-bottom-left-radius: 20px;
}
#banks_and_atm, #tile8 {
	background:linear-gradient(rgba(181, 207, 251, 0.5),rgba(0, 0, 0, 0.26),rgba(181, 207, 251, 0.5));
}
#petrol_bunks_and_mechanics, #tile9 {
	background:linear-gradient(rgba(177, 254, 186, 0.5),rgba(0, 0, 0, 0.26),rgba(177, 254, 186, 0.5));
	border-bottom-right-radius: 20px;
}
footer {
	text-align: center;
	clear: both;
	color: white;
	font-family: moon;
	background: linear-gradient(rgba(128, 182, 168, 0.6),rgba(0, 0, 0, 0.23),rgba(128, 182, 168, 0.6)); 
	border-radius: 20px; 
	border: 1px solid white;  
	width: 93%; 
	margin-left: 45px;
	margin-top: 30%;
	height:100px;
}
@-webkit-keyframes thumb {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.9); }
	100% { -webkit-transform: scale(1); }
}
.tile img:hover {
	-webkit-animation-name: thumb;
	-webkit-animation-duration: 400ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 3;
	-webkit-animation-timing-function: linear;
}
figure {
	margin: 10px;
	padding: 0;
	width: 31%;
	height: 250px;
	position: relative;
	display: block;
	cursor: pointer;
	overflow: hidden;
	border: 3px solid rgb(224, 178, 255);
	border-radius: 2px;
	float: left;
}

figure:hover figcaption {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0;
}

figcaption {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.5);
	color: #fff;
	-webkit-transition: all .9s ease;
	-moz-transition: all .9s ease;
	-o-transition: all .9s ease;
	-ms-transition: all .9s ease;
	transition: all .9s ease;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	-ms-transition-delay: .5s;
	transition-delay: .5s;
}

figure img {
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-o-transition: all 1.5s;
	-ms-transition: all 1.5s;
	transition: all 1.5s;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	-ms-transition-delay: .5s;
	transition-delay: .5s;	
}

figure:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

figcaption h3 {
	font-family: 'Open sans';
	font-weight: 400;
	color: #f3b204;
	padding: 10px 20px;
	margin-bottom: 0;
	position: relative;
	righ: 100%;
	margin-top: 37px;
	font-size: 30px;
}

figcaption p {
	font-family: 'Open sans';
	padding: 10px 20px;
	margin-bottom: 0;
	margin-top: 20px;
	position: relative;
	left: 100%;
	font-size: 13px;
}

figure:hover h3,figure:hover p {
	left: 0;
}

figcaption a {
	color: #fff;
	border: 2px solid #fff;
	padding: 4px 10px;
	text-decoration: none;
}

figcaption a:hover {
	color: #4f5856;
	background: #fff;
}
.desc h2 {
	font-family: second;
	font-size: 40px;
	text-align: center;
	padding: 30px;
	font-size: lighter;
	padding-bottom: 0px;
	margin-bottom: 20px;
	letter-spacing: 10px;
	color : black;
}
.back {
	display: none;
	font-family: moon;
	font-size: 25px;
	border : 5px solid white;
	padding: 10px;
	width: 200px;
	text-align: center;
	font-weight: bolder;
	cursor: pointer;
	color: white;
}
.back:hover {
	background-color: white;
	color: black;
}

pre, #palace p, #zoo p
{
font-size: 15px;
background-color: rgba(247, 247, 246, 0.42);
width: 800px;

}
.siz
{
	text-align: center;
	font-size: 50px;
}
.d1
{
text-align: center;
}

.push
{
padding-left: 1200px;
}
<<<<<<< HEAD
#palace, #zoo, #regal, #pas,#krs {
=======

<<<<<<< HEAD
#palace, #zoo, #regal, #pas,#drc, #b1 {
>>>>>>> development
=======
#palace, #zoo, #regal, #pas,#grs, #drc, #b1 {

>>>>>>> 39ebb90aa50aa8ffd6f1f41d0968840ea99857c5
	display: none;
}
.fimg {
	float: left;
	margin: 50px;
	border: 5px solid white;
}
.para{

	margin-left: 500px;
	padding: 20px;
	text-align: left;
	color: white;
	background-color: rgba(0,0,0,0.4) ;
	width: 700px;
	margin-right: 10px;
	padding-top: 10px;

}


.spn{
	font-weight: bold;
	color: orange;
	font-size: 18px;

}


#content{

	width: 1200px;

	opacity:500px ;

	padding-top: 20px;

}


#sty{
	font-family: Georgia;
	font-style: italic;
	color: brown;

}

.slider { 

  margin: 10px 0;   
  width: 400px; /* Update to your slider width */
	height: 350px; /* Update to your slider height */  
	position: relative;
	overflow: hidden;   
	float: left;  
	border-style: solid;  
	border-color: brown;
	border-radius: 10px; 
	padding-top: 0px;
	margin: 100px;
}
.slider img {
	margin: 30px;
}

.slider li {
	display: none;
	position: absolute; 
	top: -40px; 
	left: -20px; 


}
.footer_about{
	width: 30%;
  height: 83px;
  float: left;
    background-color: rgba(255, 255, 255, 0.12);

  margin-top: 10px;
  margin-left: 32px;
  border-radius: 11px;

}

.footer_about:hover{
		/*transition: 5s cubic-bezier(0,1.5,0.5,1);
				transform: rotate(360deg);*/
	background-color:rgba(255, 255, 255, 0.27);
		 color:white;
	    letter-spacing:2px;
	    font-weight: bolder;

}
.footer_content{

	
	
	color: white;
  margin-top: 6px;


}
.aaa{

	overflow: hidden;  height: 60px;  font-size: 8px; width: 236px;  height: 38px;  
	text-align: justify;
							  
}
.content {
  margin: 15px 0;
  width: 600px; /* Update to your slider width */
  height: 550px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
  float:left;
  color:white;
  background-color: rgba(247, 247, 246, 0.42);
  color: black;
  padding: 42px;
  font-size: 20px;
}

.img
{
	float:left;
}

